<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Id='*'
    Name='ConstruÁgil CAD'
    UpgradeCode='ee45934c-95c4-4958-84d9-d851d746cd36'
    Manufacturer='ConstruÁgil'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package
      Id='*'
      Keywords='!(loc.Installer)'
      Description='!(loc.InstallerDescription)'
      Manufacturer='ConstruÁgil'
      InstallerVersion='450'
      Languages='1033'
      Compressed='yes'
      InstallScope='perMachine'
      SummaryCodepage='1252' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='!(loc.DowngradeError)' />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

    <Icon Id='AppIcon.ico' SourceFile='$(var.Icon)' />
    <Property Id='ARPPRODUCTICON' Value='AppIcon.ico' />
    <Property Id='ARPHELPLINK' Value='https://github.com/construagil/construagil-cad' />
    <Property Id='ARPURLINFOABOUT' Value='https://github.com/construagil/construagil-cad' />
    <Property Id='ARPURLUPDATEINFO' Value='https://github.com/construagil/construagil-cad/releases' />
    <Property Id='ARPCONTACT' Value='ConstruÁgil' />
    <Property Id='ARPCOMMENTS' Value='!(loc.ApplicationDescription)' />
    <Property Id='ARPNOREPAIR' Value='1' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='APPLICATIONROOTDIRECTORY' Name='ConstruÁgil CAD'>

          <Component Id='MainExecutable' Guid='3a8a78a3-6983-4ff5-a760-7cc0c5f38e3e' Win64='yes'>
            <File
              Id='OpenCADStudioEXE'
              Name='OpenCADStudio.exe'
              DiskId='1'
              Source='$(var.Source)'
              KeyPath='yes'>
              <Shortcut
                Id='StartMenuShortcut'
                Directory='ProgramMenuDir'
                Name='ConstruÁgil CAD'
                Description='!(loc.Launch)'
                WorkingDirectory='APPLICATIONROOTDIRECTORY'
                Icon='AppIcon.ico'
                IconIndex='0'
                Advertise='yes' />
            </File>
            <File Id='DwgIco' Name='dwg.ico' DiskId='1' Source='packaging\windows\dwg.ico' />
            <File Id='DxfIco' Name='dxf.ico' DiskId='1' Source='packaging\windows\dxf.ico' />
            <File
              Id='DwgThumbDll'
              Name='dwg_thumbnailer_win.dll'
              DiskId='1'
              Source='target\release\dwg_thumbnailer_win.dll' />
            <ProgId
              Id='OpenCADStudio.DWG'
              Description='!(loc.DwgDrawing)'
              Icon='DwgIco'
              IconIndex='0'>
              <Extension Id='dwg' ContentType='image/vnd.dwg'>
                <Verb Id='open' Command='!(loc.Open)' TargetFile='OpenCADStudioEXE' Argument='"%1"' />
              </Extension>
            </ProgId>

            <ProgId
              Id='OpenCADStudio.DXF'
              Description='!(loc.DxfDrawing)'
              Icon='DxfIco'
              IconIndex='0'>
              <Extension Id='dxf' ContentType='image/vnd.dxf'>
                <Verb Id='open' Command='!(loc.Open)' TargetFile='OpenCADStudioEXE' Argument='"%1"' />
              </Extension>
            </ProgId>
          </Component>
          <Component Id='DefaultPrograms' Guid='ca5d239f-e2d7-4443-9fed-247880d9a6f5' Win64='yes'>
            <RegistryValue
              Root='HKLM'
              Key='SOFTWARE\Classes\Applications\OpenCADStudio.exe\DefaultIcon'
              Type='string'
              Value='[APPLICATIONROOTDIRECTORY]OpenCADStudio.exe,0'
              KeyPath='yes' />
            <RegistryValue
              Root='HKLM'
              Key='SOFTWARE\Classes\Applications\OpenCADStudio.exe'
              Name='FriendlyAppName'
              Type='string'
              Value='ConstruÁgil CAD' />
            <RegistryValue
              Root='HKLM'
              Key='SOFTWARE\Classes\Applications\OpenCADStudio.exe\shell\open\command'
              Type='string'
              Value='"[APPLICATIONROOTDIRECTORY]OpenCADStudio.exe" "%1"' />
            <RegistryValue
              Root='HKLM'
              Key='SOFTWARE\Classes\Applications\OpenCADStudio.exe\SupportedTypes'
              Name='.dwg'
              Type='string'
              Value='' />
            <RegistryValue
              Root='HKLM'
              Key='SOFTWARE\Classes\Applications\OpenCADStudio.exe\SupportedTypes'
              Name='.dxf'
              Type='string'
              Value='' />
            <RegistryValue
              Root='HKLM'
              Key='Software\Open CAD Studio\Capabilities'
              Name='ApplicationName'
              Type='string'
              Value='ConstruÁgil CAD' />
            <RegistryValue
              Root='HKLM'
              Key='Software\Open CAD Studio\Capabilities'
              Name='ApplicationDescription'
              Type='string'
              Value='!(loc.ApplicationDescription)' />
            <RegistryValue
              Root='HKLM'
              Key='Software\Open CAD Studio\Capabilities\FileAssociations'
              Name='.dwg'
              Type='string'
              Value='OpenCADStudio.DWG' />
            <RegistryValue
              Root='HKLM'
              Key='Software\Open CAD Studio\Capabilities\FileAssociations'
              Name='.dxf'
              Type='string'
              Value='OpenCADStudio.DXF' />
            <RegistryValue
              Root='HKLM'
              Key='Software\RegisteredApplications'
              Name='ConstruÁgil CAD'
              Type='string'
              Value='Software\Open CAD Studio\Capabilities' />
          </Component>

        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder'>
        <Directory Id='ProgramMenuDir' Name='ConstruÁgil CAD'>
          <Component Id='ProgramMenuDirComp' Guid='db3e8479-7b96-4259-828a-175b8301c5de'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue
              Root='HKCU'
              Key='Software\Open CAD Studio'
              Name='installed'
              Type='integer'
              Value='1'
              KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='DesktopFolder' Name='!(loc.Desktop)'>
        <Component Id='DesktopShortcutComp' Guid='07e7364a-9aba-4360-889c-0f4b040a3919'>
          <Shortcut
            Id='DesktopShortcut'
            Name='ConstruÁgil CAD'
            Description='!(loc.Launch)'
            Target='[APPLICATIONROOTDIRECTORY]OpenCADStudio.exe'
            WorkingDirectory='APPLICATIONROOTDIRECTORY'
            Icon='AppIcon.ico'
            IconIndex='0' />
          <RegistryValue
            Root='HKCU'
            Key='Software\Open CAD Studio'
            Name='desktop_shortcut'
            Type='integer'
            Value='1'
            KeyPath='yes' />
        </Component>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='ConstruÁgil CAD' Level='1' Display='expand'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='DefaultPrograms' />
      <ComponentRef Id='ProgramMenuDirComp' />
      <Feature
        Id='DesktopShortcut'
        Title='!(loc.DesktopShortcut)'
        Description='!(loc.DesktopShortcutDescription)'
        Level='1'
        Absent='allow'>
        <ComponentRef Id='DesktopShortcutComp' />
      </Feature>
    </Feature>
    <UIRef Id='OpenCADStudioUI' />

  </Product>
</Wix>
